/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url('../../images/layout/header_background.jpg'); 
  --header-bg-color: #004f6aee; /** Transparent color if adding header bg-image **/
  --header-font-color: #ff8529;
  --brand-font-size: 4.5rem;
  --title-font-family: "Averia Serif Libre", serif;
  --logo-width: 80px;
  --menu-top-bg-color: #002633;
  --menu-font-size: 1.4rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Roboto", sans-serif;
  --footer-bg-color: #004f6a;
  --heading-font-family: "Roboto", sans-serif;
  --link-color: #005774;
  --darkest-color: #002633;
  --medium-color: #004f6a;
  --light-color: #58b0eb;
  --bright-color: #ff8529;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
